# Notebook Title

# Introduction
Welcome to my Data Science Notebook! In this notebook, we will explore various data science concepts and perform some calculations using Python.

# Data Science Languages
- Python
- R
- SQL

# Data Science Libraries
- NumPy
- Pandas
- Matplotlib

# Data Science Tools Table
| Tool        | Description           |
|-------------|-----------------------|
| Jupyter     | Interactive notebooks |
| TensorFlow  | Deep learning library |
| Scikit-learn| Machine learning library |

# Arithmetic Expression Examples
In this section, we will demonstrate some basic arithmetic operations using Python.

In [4]:
# Multiplication
result_multiply = 5 * 3
print("Multiplication Result:", result_multiply)

# Addition
result_add = 5 + 3
print("Addition Result:", result_add)

Multiplication Result: 15
Addition Result: 8

In [5]:
# Convert Minutes to Hours
minutes = 120
hours = minutes / 60
print("120 minutes is equal to", hours, "hours.")

120 minutes is equal to 2.0 hours.

# Objectives
- Learn basic markdown formatting in Jupyter Notebook.
- Explore data science languages, libraries, and tools.
- Practice arithmetic operations in Python.

# Author
Author: [ossama lakhlougui]